@font-face {
	font-family: "Humble Cafe Italic";
	src: url("../fonts/Humble Cafe Italic.ttf");
}

@font-face {
	font-family: "Louis George Cafe";
	src: url("../fonts/Louis George Cafe.ttf");
}

@font-face {
	font-family: "Louis George Cafe Light";
	src: url("../fonts/Louis George Cafe Light.ttf");
}
